<!-- <div class="manu-breadcrumb">
    <app-breadcrumb></app-breadcrumb> -->


<fieldset class="scheduler-border">
    <legend class="scheduler-border">Task Allocation</legend>
    <div class="formData">
        <form [formGroup]="TaskAllocationForm" (ngSubmit)="onTaskAllocationClick($event, TaskAllocationForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-5">
                    <div class="col-xs-3 col-sm-5">
                        <label>File Upload:</label>
                        <input type="file" id="BSbtninfo" name="filename" (change)="onFileSelected($event)" style="margin-top:10px;font-size: 15px;">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <!-- <div class="row">
                <div class="col-xs-2 col-sm-2"></div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="curatorName" for="curatorName" cssClass="required">CURATOR NAME :</label>
                        <input type="text" class="form-control" name="curatorName" formControlName="curatorName" autocomplete="off">
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="curatorTanNo" for="curatorTanNo" cssClass="required">TAN NUMBER :</label>
                        <input type="text" class="form-control" name="curatorTanNo" formControlName="curatorTanNo" autocomplete="off" readonly>


                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="reviewerName" for="series" cssClass="required">REVIEWER NAME :</label>
                        <input type="text" autocomplete="off" class="form-control" name="reviewerName" formControlName="reviewerName">

                    </div>
                </div>
            </div>
            <br>
            <br> -->
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group">
                        <!-- <button type="button" class="btn btn-primary" (click)="onUploadMasterData()">MasterData</button> -->
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</fieldset>


<fieldset class="scheduler-border">
    <legend class="scheduler-border">Task Status</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [pagination]="false" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>
<!-- </div> -->