<nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="./app-reviewer-task" routerLinkActive #reviewerInTaskTab="routerLinkActive" [active]="reviewerInTaskTab.isActive">My Task</a>
    <!-- <a mat-tab-link routerLink="./app-reviewer-inprocess-task" routerLinkActive #reviewerInprocessTaskTab="routerLinkActive" [active]="reviewerInprocessTaskTab.isActive">In Process</a> -->
    <a mat-tab-link routerLink="./app-reviewer-completed-task" routerLinkActive #reviewerCompletedTaskTab="routerLinkActive" [active]="reviewerCompletedTaskTab.isActive">Completed </a>
    <a mat-tab-link routerLink="./app-reviewer-export" routerLinkActive #reviewerExportTab="routerLinkActive" [active]="reviewerExportTab.isActive">Excel Export </a>
    
</nav>
<router-outlet></router-outlet>