<div class="manu-breadcrumb">

    <fieldset class="scheduler-border">
        <div class="row">
            <!-- <div class="col-xs-2 col-sm-2"></div> -->
            <div class="col-xs-2 col-sm-2">
                <div class="form-group">

                    <mat-form-field style="width:100%;">
                        <input type="date" matInput placeholder="START DATE :" name="startDate" [(ngModel)]="startDate" autocomplete="off">
                    </mat-form-field>

                    <!-- <label path="startDate" for="startDate" cssClass="required">START DATE :</label>
                    <input type="date" class="form-control" name="startDate" [(ngModel)]="startDate" autocomplete="off"> -->
                </div>
            </div>

            <div class="col-xs-2 col-sm-2">
                <div class="form-group">

                    <mat-form-field style="width:100%;">
                        <input type="date" matInput placeholder="END DATE :" name="endDate" [(ngModel)]="endDate" autocomplete="off">
                    </mat-form-field>

                    <!-- <label path="endDate" for="endDate" cssClass="required">END DATE :</label>
                    <input type="date" class="form-control" name="endDate" [(ngModel)]="endDate" autocomplete="off"> -->
                </div>

            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="form-group">
                    <br>
                    <!-- <br> -->
                    <p style="text-align: center;font-size: large;font-weight: bold;"> OR</p>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2">
                <div class="form-group">

                    <mat-form-field style="width:100%;">
                        <input type="text" matInput placeholder="BATCH NUMBER :" name="rbatchNo" [(ngModel)]="rbatchNo" autocomplete="off">
                    </mat-form-field>

                    <!-- <label path="rbatchNo" for="rbatchNo" cssClass="required">BATCH NUMBER :</label>
                    <input type="text" class="form-control" name="rbatchNo" [(ngModel)]="rbatchNo" autocomplete="off"> -->
                </div>
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="form-group">
                    <!-- <br> -->
                    <button type="button" style="margin-top:8px;" (click)="onSearch(startDate,endDate,rbatchNo)" class="btn btn-primary">
                        <i class="fa fa-search "></i> Search</button>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2">
                <div class="form-group">
                    <!-- <br> -->
                    <button type="button" class="btn btn-primary" (click)="onBatchNumber(startDate,endDate,rbatchNo)" style="margin-top:8px;">Export Excel</button>
                </div>
            </div>

            <div class="col-xs-2 col-sm-2">
                <div class="form-group">
                    <!-- <br> -->
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()" style="margin-top:8px;">
                        All Export Excel
                    </button>
                </div>
            </div>
            <!-- <div class="col-xs-1 col-sm-1"></div> -->
        </div>

        <!-- 
        <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()" style="margin-right: 50px;">
            Export Excel
        </button>
        <br><br> -->
        <legend class="scheduler-border">Excel Export</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [pagination]="true" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>

    </fieldset>
</div>