<fieldset class="scheduler-border">
    <legend class="scheduler-border">STATUS</legend>

    <table style="width: 80%;">
        <tr>
            <th>NAME</th>
            <th>STATUS</th>
        </tr>
        <tr>
            <td>LIGAND</td>
            <td>{{ligandstatus}}</td>
        </tr>
        <tr>
            <td>ASSAY</td>
            <td>{{assaystatus}}</td>
        </tr>
        <tr>
            <td>MEASUREMENT</td>
            <td>{{ligandstatus}}</td>
        </tr>
    </table>
</fieldset>