<fieldset class="scheduler-border">

    <div class="formData">
        <form [formGroup]="ROAtypeForm" (ngSubmit)="onROAtypeFormClick($event, ROAtypeForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">

                        <mat-form-field style="margin-top: 20px;">
                            <input placeholder="Route of Administration" formControlName="route" matInput required>
                            <mat-error *ngIf="ROAtypeForm.get('route').hasError('required')"></mat-error>
                        </mat-form-field>

                        <!-- <label path="route" for="route" cssClass="required" style="margin-top: 20px;">Route of Administration</label>
                        <input class="form-control" name="route" formControlName="route" [ngClass]="{ 'is-invalid': submitted && f.route.errors }">
                        <div *ngIf="submitted && f.route.errors" class="invalid-feedback">
                            <div *ngIf="f.route.errors.required">Route of Administration is Required</div>
                        </div> -->
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</fieldset>
<div class="scrollbar">
    <fieldset class="scheduler-border">

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <!-- <div class="form-group">
                    <button type="button" class="btn btn-primary submit" style="margin-right: 45px;" (click)="onGeneratePdfReport()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Export Pdf
                    </button>
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>Export Excel
                    </button>
                </div> -->
            </div>
        </div>

        <legend class="scheduler-border">Assay</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>