<nav mat-tab-nav-bar>

    <a mat-tab-link routerLink="./app-mytask" routerLinkActive #myTaskTab="routerLinkActive" [active]="myTaskTab.isActive">My Task</a>
    <!-- <a mat-tab-link routerLink="./app-pending" routerLinkActive #pendingTab="routerLinkActive" [active]="pendingTab.isActive">New</a> -->
    <!-- <a mat-tab-link routerLink="./app-inprocess" routerLinkActive #inProcessTab="routerLinkActive" [active]="inProcessTab.isActive">In Process </a> -->
    <a mat-tab-link routerLink="./app-submitted-to-qc" routerLinkActive #submittedToQcTab="routerLinkActive" [active]="submittedToQcTab.isActive">Submit to QC</a>
    <a mat-tab-link routerLink="./app-rejected-by-reviewer" routerLinkActive #rejectedByReviewerTab="routerLinkActive" [active]="rejectedByReviewerTab.isActive">Rejected By Reviewer</a>
    <a mat-tab-link routerLink="./app-curator-status" routerLinkActive #curatorStatusTab="routerLinkActive" [active]="curatorStatusTab.isActive">My Status</a>

</nav>
<router-outlet></router-outlet>