<div [@.disabled]="temporaryDisabled">
    <div class="header-container">
        <!-- <input type="checkbox" id="menu"> -->
        <div class="header col-sm-12 col-md-12 col-lg-12 padding">
            <div class="col-md-5 col-lg-7 logo">
                <h2 class="h2">
                    <!-- <label for="menu" class="menu-bar is-active"> -->
                    <i class="fa fa-bars" [ngClass]="isOpen ? 'rerotation' : 'rotation'" style="margin-left: 10px" (click)="clickMenu()"></i> SATURO GLOBAL
                    <!-- <img src="{{downloadUrl}}"> -->
                    <!-- </label> -->
                    <!-- <span routerLink="/app-dash-board" style="margin-left: -6px">
                        <i aria-hidden="true"></i>&nbsp; SATURO GLOBAL
                    </span> -->
                </h2>
            </div>
            <div>
                <ul class="setting-menu-list pull-right" style="margin: 0">
                    <li class="setting">
                        Welcome {{ user?.firstname | titlecase }} {{ user?.lastname | titlecase }}&nbsp;
                    </li>

                    <li class="setting">
                        <a><i class="fa fa-paint-brush" style="color: white" aria-hidden="true" [(colorPicker)]="themes"
                                [cpOKButton]="true" [cpOKButtonClass]="' btn-primary btn-xs button'"
                                [cpOKButtonText]="'Reset'" [cpCancelButton]="true"
                                [cpCancelButtonClass]="'btn-primary btn-xs'" [cpCancelButtonText]="'Cancel'"
                                [cpSaveClickOutside]="false" [cpCloseClickOutside]="false" [cpPresetColors]="[
                                    '#9400D3',
                                    '#0000FF',
                                    '#00FF00',
                                    '#FFFF00',
                                    '#FF7F00',
                                    '#FF0000'
                                ]" [cpPositionRelativeToArrow]="true" [cpPosition]="'left'" [cpPositionOffset]="'80%'"
                                [cpAlphaChannel]="'disabled'" [cpDisableInput]="false" [cpOutputFormat]="'hex'"
                                [cpWidth]="'270px'" [cpHeight]="'390px'" (cpSliderChange)="colorPicker($event)"
                                (colorPickerSelect)="defaultColor()"></i></a>
                    </li>

                    <li class="setting" routerLink="./app-search-setting" *ngIf="user?.rolename== 'User' || user?.rolename== 'Reviewer' || user?.rolename== 'Admin'">
                        <a>
                            <i class="fa fa-search" aria-hidden="true" title="Search" style="color: white" [ngClass]="
                                    parentMenuString == 'Search'
                                        ? 'is-active'
                                        : ''
                                " (click)="onMenuParentClick('Search', 'Search')"></i></a>
                    </li>

                    <li class="setting" *ngIf="user?.rolename== 'User'">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" style="color: white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="bttn">
                                <i class="fa fa-shield" [ngClass]="
                                        parentMenuString == 'Ligand'
                                            ? 'is-active'
                                            : ''
                                    " aria-hidden="true" title=""></i>
                            </button>

                            <!-- [ngClass]="parentMenuString == 'Purchase Order' ? 'is-active' : ''"
                        (click)="onMenuParentClick('Purchase Order', 'Purchase Order')">
                            <a><i class="fa fa-shopping-cart" [ngClass]="parentMenuString == 'Purchase Order' ? 'is-active' : ''">
                            </i><span [ngClass]="parentMenuString == 'Purchase Order' ? 'is-active' : ''" -->

                            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                                <li routerLink="./app-master/app-ligand-version">
                                    <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                            childMenuString == 'Ligand Version'
                                                ? 'is-active'
                                                : ''
                                        " (click)="
                                            onMenuChildClick(
                                                'Ligand',
                                                'Ligand Version'
                                            )
                                        ">Ligand Version Master</a>
                                </li>

                                <li routerLink="./app-master/app-ligand-type">
                                    <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                            childMenuString == 'Ligand Type'
                                                ? 'is-active'
                                                : ''
                                        " (click)="
                                            onMenuChildClick(
                                                'Ligand',
                                                'Ligand Type'
                                            )
                                        ">Ligand Type Master</a>
                                </li>

                                <li routerLink="./app-master/app-assay-type">
                                    <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                            childMenuString == 'Assay Type'
                                                ? 'is-active'
                                                : ''
                                        " (click)="
                                            onMenuChildClick(
                                                'Assay',
                                                'Assay Type'
                                            )
                                        ">Assay Type Master</a>
                                </li>

                                <li routerLink="./app-master/app-toxicity-type">
                                    <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                            childMenuString == 'Toxicity Type'
                                                ? 'is-active'
                                                : ''
                                        " (click)="
                                            onMenuChildClick(
                                                'Assay',
                                                'Toxicity Type'
                                            )
                                        ">Toxicity Type Master</a>
                                </li>
                                <li routerLink="./app-master/app-route-of-administration-type">
                                    <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                            childMenuString == 'Route of Administration'
                                                ? 'is-active'
                                                : ''
                                        " (click)="
                                            onMenuChildClick(
                                                'Assay',
                                                'Route of Administration'
                                            )
                                        ">ROA Master</a>
                                </li>


                                <li routerLink="./app-master/app-unit-svalue">
                                    <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                            childMenuString ==
                                            'Application Setting'
                                                ? 'is-active'
                                                : ''
                                        " (click)="
                                            onMenuChildClick(
                                                'Assay',
                                                'Unit(single-Value)'
                                            )
                                        ">Unit(Single-Value) Master</a>
                                </li>

                                <li routerLink="./app-master/app-unit-lvalue">
                                    <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                            childMenuString ==
                                            'Application Setting'
                                                ? 'is-active'
                                                : ''
                                        " (click)="
                                            onMenuChildClick(
                                                'Assay',
                                                'Unit(Low-end-Value)'
                                            )
                                        ">Unit(L-Value) Master</a>
                                </li>
                                <li routerLink="./app-master/app-category">
                                    <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                            childMenuString ==
                                            'Application Setting'
                                                ? 'is-active'
                                                : ''
                                        " (click)="
                                            onMenuChildClick(
                                                'Measurement',
                                                'Category'
                                            )
                                        ">Category Master</a>
                                </li>
                                <li routerLink="./app-master/app-category-functions">
                                    <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                            childMenuString ==
                                            'Application Setting'
                                                ? 'is-active'
                                                : ''
                                        " (click)="
                                            onMenuChildClick(
                                                'Measurement',
                                                'Category(functions)'
                                            )
                                        ">Category(functions) Master</a>
                                </li>
                                <li routerLink="./app-master/app-original-prefix">
                                    <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                            childMenuString ==
                                            'Application Setting'
                                                ? 'is-active'
                                                : ''
                                        " (click)="
                                            onMenuChildClick(
                                                'Measurement',
                                                'Original-Prefix'
                                            )
                                        ">Original-Prefix Master</a>
                                </li>
                                <li routerLink="./app-master/app-bio-system-types">
                                    <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                            childMenuString ==
                                            'Application Setting'
                                                ? 'is-active'
                                                : ''
                                        " (click)="
                                            onMenuChildClick(
                                                'Measurement',
                                                'Biological-system(types)'
                                            )
                                        ">Bio-system(types) Master</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="setting">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" style="color: white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="bttn">
                                <i class="fa fa-cog" [ngClass]="
                                        parentMenuString == 'Setting'
                                            ? 'is-active'
                                            : ''
                                    " aria-hidden="true" title="More options"></i>
                            </button>

                            <!-- [ngClass]="parentMenuString == 'Purchase Order' ? 'is-active' : ''"
                        (click)="onMenuParentClick('Purchase Order', 'Purchase Order')">
                            <a><i class="fa fa-shopping-cart" [ngClass]="parentMenuString == 'Purchase Order' ? 'is-active' : ''">
                            </i><span [ngClass]="parentMenuString == 'Purchase Order' ? 'is-active' : ''" -->

                            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                                <!-- <li routerLink="/app-dash-board">
                                    <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                            childMenuString == 'DashBoard'
                                                ? 'is-active'
                                                : ''
                                        " (click)="
                                            onMenuChildClick(
                                                'Setting',
                                                'DashBoard'
                                            )
                                        ">DashBoard</a
                                    >
                                </li> -->

                                <li routerLink="./app-setting/app-profile/app-registration" *ngIf="user?.rolename== 'Admin'">
                                    <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                            childMenuString == 'Profile'
                                                ? 'is-active'
                                                : ''
                                        " (click)="
                                            onMenuChildClick(
                                                'Setting',
                                                'Profile'
                                            )
                                        ">Profile</a>
                                </li>

                                <li routerLink="./app-setting/app-settings" *ngIf="user?.rolename== 'Admin'">
                                    <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                            childMenuString == 'Settings'
                                                ? 'is-active'
                                                : ''
                                        " (click)="
                                            onMenuChildClick(
                                                'Setting',
                                                'Settings'
                                            )
                                        ">Settings</a>
                                </li>

                                <li routerLink="./app-setting/app-user-theme">
                                    <a [ngStyle]="{ color: colorthemes_1 }" [ngClass]="
                                            childMenuString == 'UserTheme'
                                                ? 'is-active'
                                                : ''
                                        " (click)="
                                            onMenuChildClick(
                                                'Setting',
                                                'UserTheme'
                                            )
                                        ">Themes</a>
                                </li>
                                <!-- <li routerLink="./app-setting/app-favourites">
                                    <a
                                        [ngStyle]="{ color: colorthemes_1 }"
                                        [ngClass]="
                                            childMenuString == 'Favourites'
                                                ? 'is-active'
                                                : ''
                                        "
                                        (click)="
                                            onMenuChildClick(
                                                'Setting',
                                                'Favourites'
                                            )
                                        "
                                        >Favourites</a
                                    >
                                </li> -->

                                <!-- <li routerLink="./app-setting/app-about">
                                    <a
                                        [ngStyle]="{ color: colorthemes_1 }"
                                        [ngClass]="
                                            childMenuString == 'About'
                                                ? 'is-active'
                                                : ''
                                        "
                                        (click)="
                                            onMenuChildClick('Setting', 'About')
                                        "
                                        >About</a
                                    >
                                </li> -->

                                <!-- <li
                                    routerLink="./app-setting/app-import-export"
                                >
                                    <a
                                        [ngStyle]="{ color: colorthemes_1 }"
                                        [ngClass]="
                                            childMenuString == 'Import / Export'
                                                ? 'is-active'
                                                : ''
                                        "
                                        (click)="
                                            onMenuChildClick(
                                                'Setting',
                                                'Import / Export'
                                            )
                                        "
                                        >Import / Export</a
                                    >
                                </li>
                                <li
                                    routerLink="./app-setting/app-application-setting"
                                >
                                    <a
                                        [ngStyle]="{ color: colorthemes_1 }"
                                        [ngClass]="
                                            childMenuString ==
                                            'Application Setting'
                                                ? 'is-active'
                                                : ''
                                        "
                                        (click)="
                                            onMenuChildClick(
                                                'Setting',
                                                'Application Setting'
                                            )
                                        "
                                        >Application Setting</a
                                    >
                                </li> -->
                            </ul>
                        </div>
                    </li>
                    <li class="setting" routerLink="./app-help">
                        <a>
                            <i class="fa fa-question-circle" aria-hidden="true" title="Help" style="color: white" [ngClass]="
                                    parentMenuString == 'Help'
                                        ? 'is-active'
                                        : ''
                                " (click)="onMenuParentClick('Help', 'Help')"></i></a>
                    </li>
                    <li class="setting">
                        <a (click)="submit()" [ngClass]="
                                parentMenuString == 'Logout' ? 'is-actived' : ''
                            " (click)="onMenuParentClick('Logout', 'Logout')">
                            <i class="fa fa-sign-out color" aria-hidden="true" title="Logout"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>