<!-- <fieldset class="scheduler-border">
    <legend class="scheduler-border">Change Allocation</legend>
    
</fieldset> -->

<div class="scrollbar">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Change Reviewer Allocation</legend>
        <div class="row">
            <div class="col-xs-3 col-sm-3">
                <div class="form-group">
                    <label path="rbatchNo" for="rbatchNo" cssClass="required">REVIEWER BATCH NUMBER :</label>
                    <input type="text" class="form-control" name="rbatchNo" [(ngModel)]="rbatchNo" autocomplete="off">

                </div>
            </div>
            <div class="col-xs-3 col-sm-3">
                <div class="form-group">
                    <label path="reviewerName" for="reviewerName" cssClass="required">CURRENT REVIEWER LIST :</label>
                    <!-- <input type="text" class="form-control" name="curatorName" formControlName="curatorName" autocomplete="off"> -->
                    <select class="form-control" name="reviewerName" [(ngModel)]="reviewerName">
                        <option value=''> - Select Reviewer List - </option>
    
                        <option *ngFor="let reviewername of reviewernames" [value]="reviewername.username">
                            {{reviewername.username}}
                        </option>
                    </select>

                </div>
            </div>
            <div class="col-xs-3 col-sm-3">
                <div class="form-group">
                    <br>
                    <button type="button" style="margin-top:5px;" (click)="onSearch(rbatchNo,reviewerName)" class="btn btn-primary">
                        <i class="fa fa-search "></i> Search</button>
                </div>
            </div>
        </div>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [pagination]="false" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
        <br>
        <div class="row">
            <div class="col-xs-6 col-sm-6"></div>
            <div class="col-xs-3 col-sm-3">
                <div class="form-group">
                    <label path="changeReviewerName" for="changeReviewerName" cssClass="required">CHANGE REVIEWER :</label>
                    <!-- <input type="text" class="form-control" name="curatorName" formControlName="curatorName" autocomplete="off"> -->
                    <select class="form-control" name="changeReviewerName" [(ngModel)]="changeReviewerName">
                        <option value=''> - Select Reviewer List - </option>
    
                        <option *ngFor="let reviewername of reviewernames" [value]="reviewername.username">
                            {{reviewername.username}}
                        </option>
                    </select>

                </div>
            </div>
            <div class="col-xs-2 col-sm-2">
                <div class="form-group">
                    <br>
                    <button type="button" class="btn btn-primary submit" (click)="onGetSelectedRowData(changeReviewerName)" style="margin-top:6px;">Submit</button>
                </div>
            </div>
        </div>
    </fieldset>
</div>