.checkedPopup {
    /* background-color: red; */
    /* width: 1120px;
    margin-left: -145px; */
    /* height: auto; */
}

.searchs {
    left: 80px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.searchs-cancel {
    left: 240px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn {
    display: inline-block;
    width: 100px;
    /* padding: 6px 12px; */
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px !important;
}