<fieldset class="scheduler-border">
    <legend class="scheduler-border">Assay</legend>
    <div class="formData" href="#google">
        <form [formGroup]="AssayForm" (ngSubmit)="onAssayClick($event, AssayForm)">
            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    <div class="form-group">
                        <!-- <label path="tanNo" for="tanNo" cssClass="required">TAN NUMBER</label> -->
                        <!-- <select class="form-control" name="tanNo" formControlName="tanNo" >
                            <option value="" hidden> - Select Tan Number - </option>
                         
                            <option *ngFor="let tanarray of tanarr" >
                                {{tanarray}}
                            </option>
                        </select> -->
                        <!-- <input type="text" class="form-control" name="tanNo" formControlName="tanNo" readonly> -->

                        <mat-form-field>
                            <input matInput placeholder="TAN NUMBER" formControlName="tanNo" readonly="readonly">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4">
                    <div class="form-group">
                        <!-- <label path="ligandSlno" for="ligandSlno" cssClass="required">Ligand-Version</label> -->
                        <!-- <input type="text" class="form-control" name="ligandname" formControlName="ligandSlno" readonly> -->
                        <!-- <select class="form-control" name="tanNo" formControlName="ligandSlno" (blur)="onBlurEvent($event)">
                            <option value=''> - Select Ligand Version - </option>

                            <option *ngFor="let ligandtanversion of ligandtanversions" [value]="ligandtanversion.ligandId">
                                {{ligandtanversion.ligandVersionSlno2?.ligandVersion}}
                            </option>
                        </select> -->

                        <mat-form-field>
                            <mat-select formControlName="ligandSlno" placeholder="Ligand-Version" (blur)="onBlurEvent($event)">
                                <mat-option *ngFor="let ligandtanversion of ligandtanversions" [value]="ligandtanversion.ligandId">
                                    {{ligandtanversion.ligandVersionSlno2?.ligandVersion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput autocomplete="off" placeholder="Ligand Name" formControlName="ligandname" readonly="readonly">
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="col-xs-3 col-sm-3">

                </div> -->
                <!-- <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label cssClass="required">In Process</label>
                        <label class="switch">
                            <input type="checkbox" (click)="toggleInprocess($event, AssayForm)">
                            <span class="slider round"></span>
                        </label>

                    </div>
                </div> -->
            </div>
            <div class="row">

                <div class="col-xs-4 col-sm-4">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-select formControlName="assayTypeSlno" placeholder="Assay-type">
                                <mat-option *ngFor="let assayType of assayTypes" [value]="assayType.id">
                                    {{assayType.assayType}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-select formControlName="toxiCitySlno" placeholder="Toxicity-type">
                                <mat-option *ngFor="let toxiCity of toxiCities" [value]="toxiCity.id">
                                    {{toxiCity.toxiCity}}
                                </mat-option>
                            </mat-select>

                            <!-- <p><i style="font-size: x-large;" [ngStyle]="{ color: colorthemes_1 }" class="fa fa-plus-circle" aria-hidden="true" (click)="OnToxicityType()"></i></p> -->
                        </mat-form-field>
                        <mat-icon style="font-size: x-large;margin-left: 20px;" [ngStyle]="{ color: colorthemes_1 }" class="fa fa-plus-circle" aria-hidden="true" (click)="OnToxicityType()"></mat-icon>
                    </div>
                </div>
                <br>

            </div>

            <div class="row">
                <div class="col-xs-4 col-sm-4">

                    <div class="form-group">
                        <mat-form-field>
                            <mat-select formControlName="routeSlno" placeholder="Route-of-administration">
                                <mat-option *ngFor="let routeAdmin of routeAdmins" [value]="routeAdmin.id">
                                    {{routeAdmin.route}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4">
                    <div class="form-group">
                        <!-- <label path="administration" for="series" cssClass="required">Administration-regimen</label>
                        <input class="form-control" autocomplete="off" name="administration" formControlName="administration"> -->

                        <mat-form-field>
                            <input matInput placeholder="Collection-id" formControlName="administration">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4">
                    <div class="form-group">
                        <!-- <label path="procedure" for="series" cssClass="required">Procedure</label>
                        <input class="form-control" autocomplete="off" name="procedure" formControlName="procedure"> -->

                        <mat-form-field>
                            <input matInput placeholder="Procedure" formControlName="procedure">
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-xs-4 col-sm-4">
                    <div class="form-group">
                        <!-- <label path="ligandSvalue" for="series" cssClass="required">Ligand-Dose(Single-value)</label>
                        <input class="form-control" autocomplete="off" name="ligandSvalue" formControlName="ligandSvalue" (click)="onSingleValueClick()"> -->

                        <mat-form-field>
                            <input matInput placeholder="Ligand-Dose(Single-value)" formControlName="ligandSvalue" (click)="onSingleValueClick()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4">
                    <div class="form-group">

                        <!-- <label path="unitSlno" for="unitSlno" cssClass="required">Unit(Single-value)</label>
                        <select class="form-control" name="unitSlno" formControlName="unitSlno">
                            <option value=''> - Select Unit-Types - </option>
                            <option *ngFor="let unitsinglevalue of unitsinglevalues" [value]="unitsinglevalue.id">
                                {{unitsinglevalue.unit}}
                            </option>
                        </select> -->

                        <mat-form-field>
                            <mat-select formControlName="unitSlno" placeholder="Unit(Single-value)">
                                <mat-option *ngFor="let unitsinglevalue of unitsinglevalues" [value]="unitsinglevalue.id">
                                    {{unitsinglevalue.unit}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-icon style="font-size: x-large;margin-left: 20px;" [ngStyle]="{ color: colorthemes_1 }" class="fa fa-plus-circle" aria-hidden="true" (click)="onDoseSingleUnit()"></mat-icon>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4">
                    <!-- <br> -->
                    <button type="button" (click)="setEnable()" class="btn btn-primary enable"> Enable</button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput placeholder="Ligand-Dose(High-end-value)" formControlName="ligandHvalue" (click)="highValueClick()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4">
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput placeholder="Ligand-Dose(Low-end-value)" formControlName="ligandLvalue">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-select formControlName="unitedSlno" placeholder="Unit">
                                <mat-option *ngFor="let unitlowendvalue of unitlowendvalues" [value]="unitlowendvalue.id">
                                    {{unitlowendvalue.united}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-icon style="font-size: x-large;margin-left: 20px;" [ngStyle]="{ color: colorthemes_1 }" class="fa fa-plus-circle" aria-hidden="true" (click)="OnDoseHighLowUnit()"></mat-icon>
                    </div>
                </div>

            </div>
            <br>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Condition</legend>
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-select formControlName="conditionType" placeholder="Condition type">
                                    <mat-option value="Combination Chemotherapy">Combination Chemotherapy</mat-option>
                                    <mat-option value="Drug Interactions">Drug Interactions</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="Condition material" formControlName="conditionMaterial">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="Condition material-id" formControlName="conditionMaterialid">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="Condition(Single-value)" formControlName="singleCondition" (click)="onsingleConditionClick()">
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-select formControlName="singleUnit" placeholder="Unit(Single-value)">
                                    <mat-option *ngFor="let unitsinglevalue of unitsinglevalues" [value]="unitsinglevalue.id">
                                        {{unitsinglevalue.unit}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-icon style="font-size: x-large;margin-left: 16px;" [ngStyle]="{ color: colorthemes_1 }" class="fa fa-plus-circle" aria-hidden="true" (click)="onConsitionSingleUnit()"></mat-icon>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <!-- <br> -->
                        <button type="button" (click)="setConditionEnable()" class="btn btn-primary enable"> Enable</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="Condition(High-end-value)" formControlName="highCondition" (click)="highConditionClick()">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="Condition(Low-end-value)" formControlName="lowCondition">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-select formControlName="highLowUnit" placeholder="Unit">
                                    <mat-option *ngFor="let unitlowendvalue of unitlowendvalues" [value]="unitlowendvalue.id">
                                        {{unitlowendvalue.united}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-icon style="font-size: x-large;margin-left: 16px;" [ngStyle]="{ color: colorthemes_1 }" class="fa fa-plus-circle" aria-hidden="true" (click)="OnConditionHighLowUnit()"></mat-icon>
                        </div>
                    </div>
                </div>
            </fieldset>


            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Measurement</legend>

                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="Table (Data-locator)" formControlName="dataLocator1">
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="Figure (Data-locator)" formControlName="dataLocator2">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="Page (Data-locator)" formControlName="dataLocator3">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <mat-form-field style="width:100%;">
                                <mat-select formControlName="categorySlno" placeholder="Category">
                                    <mat-option *ngFor="let category of categorys" [value]="category.id">
                                        {{category.category}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <mat-form-field style="width:80%;">
                                <mat-select formControlName="functionSlno" placeholder="Category(functions)">
                                    <mat-option *ngFor="let function of categoryfunctions" [value]="function.id">
                                        {{function.function}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-icon style="font-size: x-large;margin-left:16px" [ngStyle]="{ color: colorthemes_1 }" class="fa fa-plus-circle" aria-hidden="true" (click)="OnCategoryFuction()"></mat-icon>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <mat-form-field style="width:80%;">
                                <input matInput placeholder="Parameter" formControlName="parameter">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <mat-form-field style="width:80%;">
                                <input matInput placeholder="Parameter-detail" formControlName="parameterDetail">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <mat-form-field style="width:80%;">
                                <mat-select formControlName="originalPrefixSlno" placeholder="ORIGINAL-PREFIX">
                                    <mat-option *ngFor="let originalPrefix of Originals" [value]="originalPrefix.id">
                                        {{originalPrefix.originalPrefix}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-icon style="font-size: x-large;margin-left:16px" [ngStyle]="{ color: colorthemes_1 }" class="fa fa-plus-circle" aria-hidden="true" (click)="OnOriginalPrefixFuction()"></mat-icon>
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <mat-form-field style="width:80%;">
                                <input matInput placeholder="Single-value" formControlName="singleValue" (click)="singleValClick()">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <mat-form-field style="width:80%;">
                                <mat-select formControlName="unit" placeholder="Unit(SingleValue)">
                                    <mat-option *ngFor="let unitsinglevalueObject of unitsinglevalues" [value]="unitsinglevalueObject.id">
                                        {{unitsinglevalueObject.unit}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-icon style="font-size: x-large;margin-left:16px" [ngStyle]="{ color: colorthemes_1 }" class="fa fa-plus-circle" aria-hidden="true" (click)="onMeasurementSingleUnit()"></mat-icon>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <!-- <br> -->
                        <button type="button" (click)="setMeasurementEnable()" class="btn btn-primary enable"> Enable</button>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="High-end-value" formControlName="highEndValue">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="Low-end-value" formControlName="lowEndValue">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-select formControlName="units" placeholder="Unit (High & Low)">
                                    <mat-option *ngFor="let unitlowendvalueObject of unitlowendvalues" [value]="unitlowendvalueObject.id">
                                        {{unitlowendvalueObject.united}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-icon style="font-size: x-large;margin-left:16px" [ngStyle]="{ color: colorthemes_1 }" class="fa fa-plus-circle" aria-hidden="true" (click)="onMeasurementHighLowUnit()"></mat-icon>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <mat-form-field style="width:91%;">
                                <input matInput placeholder="Original-value(Non-numeric-value)" formControlName="nonNumeric">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <mat-form-field style="width:91%;">
                                <input matInput placeholder="Remarks" formControlName="remark">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Biological system</legend>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <mat-form-field style="width:100%;">
                                    <mat-select formControlName="typeSlno" placeholder="Type">
                                        <mat-option *ngFor="let type of types" [value]="type.id">
                                            {{type.type}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <mat-form-field style="width:100%;">
                                    <input matInput placeholder="Cell" formControlName="cell">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <mat-form-field style="width:100%;">
                                    <input matInput placeholder="Cell-detail" formControlName="cellDetail">
                                </mat-form-field>

                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <mat-form-field style="width:100%;">
                                    <input matInput placeholder="Organ" formControlName="organ">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <mat-form-field style="width:100%;">
                                    <input matInput placeholder="Organ-detail" formControlName="organDetail">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <mat-form-field style="width:100%;">
                                    <input matInput placeholder="Species" formControlName="species">
                                </mat-form-field>

                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <mat-form-field style="width:100%;">
                                    <input matInput placeholder="Species-detail" formControlName="speciesDetail">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <mat-form-field style="width:100%;">
                                    <mat-select formControlName="gender" placeholder="Gender">
                                        <mat-option value="Male">Male</mat-option>
                                        <mat-option value="Female">Female</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <mat-form-field style="width:100%;">
                                    <input matInput placeholder="Age-group" formControlName="ageGroup">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Target</legend>
                    <div class="row">
                        <div class="col-xs-4 col-sm-5"></div>
                        <div class="col-xs-4 col-sm-5"></div>
                        <div class="col-sm-1">
                            <button type="button" class="form-control" class="btn btn-primary" style="width:100px" (click)="onTargetReset()">Clear Target
                            </button></div>
                        <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <br>
                    <div class="row">

                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <mat-form-field>
                                    <input matInput placeholder="Target-version" formControlName="targetVersion">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <mat-form-field>
                                    <input matInput placeholder="Collection-id" formControlName="collectionId1">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <mat-form-field>
                                    <input matInput placeholder="Original-target-name" formControlName="original">
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <mat-form-field>
                                    <input matInput placeholder="Acronym" formControlName="acronym">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <mat-form-field>
                                    <input matInput placeholder="Organism-source" formControlName="organism">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <mat-form-field>
                                    <input matInput placeholder="Variant" formControlName="variant">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </fieldset>

            <div class="row">

                <div class="form-group">
                    <div class="col-sm-7"></div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary" (click)="onRepeat()">Repeat</button>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary" (click)="onEdit()">Edit</button>
                    </div>

                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary" (click)="onReset()">Clear</button>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

            </div>
        </form>
    </div>
</fieldset>



<div class="scrollbar">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Assay</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="assayGridOptions" style="width: 100%; height: 350px;" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>