<fieldset class="scheduler-border">
    <legend class="scheduler-border">Assay</legend>
    <div class="formData" href="#google">
        <form [formGroup]="AssayForm" (ngSubmit)="onAssayClick($event, AssayForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="tanNo" for="tanNo" cssClass="required">TAN NUMBER</label>
                        <!-- <select class="form-control" name="tanNo" formControlName="tanNo" >
                            <option value="" hidden> - Select Tan Number - </option>
                         
                            <option *ngFor="let tanarray of tanarr" >
                                {{tanarray}}
                            </option>
                        </select> -->
                        <input type="text" class="form-control" name="tanNo" formControlName="tanNo" readonly>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ligandSlno" for="ligandSlno" cssClass="required">Ligand-Version</label>
                        <!-- <input type="text" class="form-control" name="ligandname" formControlName="ligandSlno" readonly> -->
                        <select class="form-control" name="tanNo" formControlName="ligandSlno"
                            (blur)="onBlurEvent($event)">
                            <option value=''> - Select Ligand Version - </option>

                            <option *ngFor="let ligandtanversion of ligandtanversions"
                                [value]="ligandtanversion.ligandId">
                                {{ligandtanversion.ligandVersionSlno2?.ligandVersion}}
                            </option>
                        </select>

                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ligandname" for="series" cssClass="required">Ligand Name</label>
                        <input type="text" autocomplete="off" class="form-control" name="ligandname"
                            formControlName="ligandname" readonly>

                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">

                </div>
                <!-- <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label cssClass="required">In Process</label>
                        <label class="switch">
                            <input type="checkbox" (click)="toggleInprocess($event, AssayForm)">
                            <span class="slider round"></span>
                        </label>

                    </div>
                </div> -->
            </div>
            <div class="row">

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="assayTypeSlno" for="assayTypeSlno" cssClass="required">Assay-type</label>
                        <select class="form-control" name="assayTypeSlno" formControlName="assayTypeSlno">
                            <option value=''> - Select Assay Types - </option>
                            <option *ngFor="let assayType of assayTypes" [value]="assayType.id">
                                {{assayType.assayType}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="toxiCitySlno" for="toxiCitySlno" cssClass="required">Toxicity-type</label>
                        <select class="form-control" name="toxiCitySlno" formControlName="toxiCitySlno">
                            <option value=''> - Select Toxicity Types - </option>
                            <option *ngFor="let toxiCity of toxiCities" [value]="toxiCity.id">
                                {{toxiCity.toxiCity}}
                            </option>
                        </select>

                    </div>
                </div>
                <br>
                <p><i style="font-size: x-large;margin-top: 10px;" [ngStyle]="{ color: colorthemes_1 }"
                        class="fa fa-plus-circle" aria-hidden="true" (click)="OnToxicityType()"></i></p>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">

                    <div class="form-group">
                        <label path="routeSlno" for="routeSlno" cssClass="required">Route-of-administration</label>
                        <select class="form-control" name="routeSlno" formControlName="routeSlno">
                            <option value=''> - Select Route-Types - </option>
                            <option *ngFor="let routeAdmin of routeAdmins" [value]="routeAdmin.id">
                                {{routeAdmin.route}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="administration" for="series" cssClass="required">Administration-regimen</label>
                        <input class="form-control" autocomplete="off" name="administration"
                            formControlName="administration">
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="procedure" for="series" cssClass="required">Procedure</label>
                        <input class="form-control" autocomplete="off" name="procedure" formControlName="procedure">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ligandSvalue" for="series" cssClass="required">Ligand-Dose(Single-value)</label>
                        <input class="form-control" autocomplete="off" name="ligandSvalue"
                            formControlName="ligandSvalue" (click)="onSingleValueClick()">
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="row">
                        <div class="col-xs-10 col-sm-10">
                            <div class="form-group">
                                <label path="unitSlno" for="unitSlno" cssClass="required">Unit(Single-value)</label>
                                <select class="form-control" name="unitSlno" formControlName="unitSlno">
                                    <option value=''> - Select Unit-Types - </option>
                                    <option *ngFor="let unitsinglevalue of unitsinglevalues"
                                        [value]="unitsinglevalue.id">
                                        {{unitsinglevalue.unit}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <i style="font-size: x-large;margin-top: 10px;" [ngStyle]="{ color: colorthemes_1 }"
                            class="fa fa-plus-circle" aria-hidden="true" (click)="onDoseSingleUnit()"></i>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <br>
                    <button type="button" style="margin-top:5px;" (click)="onsetEnable()" class="btn btn-primary">
                        Enable</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ligandHvalue" for="series" cssClass="required">Ligand-Dose(High-end-value)</label>
                        <input class="form-control" autocomplete="off" name="ligandHvalue"
                            formControlName="ligandHvalue" (click)="highValueClick()">
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="ligandLvalue" for="series" cssClass="required">Ligand-Dose(Low-end-value)</label>
                        <input class="form-control" autocomplete="off" name="ligandLvalue"
                            formControlName="ligandLvalue" (click)="highValueClick()">
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3">
                    <div class="row">
                        <div class="col-xs-10 col-sm-10">
                            <div class="form-group">
                                <label path="unitedSlno" for="unitedSlno" cssClass="required">Unit</label>
                                <select class="form-control" name="unitedSlno" formControlName="unitedSlno">
                                    <option value=''> - Select Units-Types- </option>
                                    <option *ngFor="let unitlowendvalue of unitlowendvalues"
                                        [value]="unitlowendvalue.id">
                                        {{unitlowendvalue.united}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <i style="font-size: x-large;margin-top: 10px;" [ngStyle]="{ color: colorthemes_1 }"
                            class="fa fa-plus-circle" aria-hidden="true" (click)="OnDoseHighLowUnit()"></i>
                    </div>
                </div>
            </div>
            <br>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Condition</legend>
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="conditionType" for="series" cssClass="required">Condition type</label>
                            <select class="form-control" name="conditionType" formControlName="conditionType">
                                <option value=''>- Select Condition type -</option>
                                <option>Combination Chemotherapy</option>
                                <option>Drug Interactions</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="conditionMaterial" for="series" cssClass="required">Condition
                                material</label>
                            <input class="form-control" autocomplete="off" name="conditionMaterial"
                                formControlName="conditionMaterial">
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="conditionMaterialid" for="series" cssClass="required">Condition
                                material-id</label>
                            <input class="form-control" autocomplete="off" name="conditionMaterialid"
                                formControlName="conditionMaterialid">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="singleCondition" for="series"
                                cssClass="required">Condition(Single-value)</label>
                            <input class="form-control" autocomplete="off" name="singleCondition"
                                formControlName="singleCondition" (click)="onsingleConditionClick()">

                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="row">
                            <div class="col-xs-10 col-sm-10">
                                <div class="form-group">
                                    <label path="singleUnit" for="series" cssClass="required">Unit(Single-value)</label>
                                    <select class="form-control" name="singleUnit" formControlName="singleUnit">
                                        <option value="" hidden> - Select Unit-Types - </option>
                                        <option value=""> - Select Unit-Types - </option>
                                        <option *ngFor="let unitsinglevalue of unitsinglevalues"
                                            [value]="unitsinglevalue.id">
                                            {{unitsinglevalue.unit}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <i style="font-size: x-large;margin-top: 10px;" [ngStyle]="{ color: colorthemes_1 }"
                                class="fa fa-plus-circle" aria-hidden="true" (click)="onConsitionSingleUnit()"></i>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <br>
                        <button type="button" style="margin-top:5px;" (click)="setConditionEnable()"
                            class="btn btn-primary">
                            Enable</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="highCondition" for="series"
                                cssClass="required">Condition(High-end-value)</label>
                            <input class="form-control" autocomplete="off" name="highCondition"
                                formControlName="highCondition" (click)="highConditionClick()">
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="lowCondition" for="series" cssClass="required">Condition(Low-end-value)</label>
                            <input class="form-control" autocomplete="off" name="lowCondition"
                                formControlName="lowCondition" (click)="highConditionClick()">
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="row">
                            <div class="col-xs-10 col-sm-10">
                                <div class="form-group">
                                    <label path="highLowUnit" for="series" cssClass="required">Unit</label>
                                    <!-- <input class="form-control" name="highLowUnit" formControlName="highLowUnit"> -->
                                    <select class="form-control" name="highLowUnit" formControlName="highLowUnit">
                                        <option value=''> - Select Units-Types- </option>
                                        <option *ngFor="let unitlowendvalue of unitlowendvalues"
                                            [value]="unitlowendvalue.id">
                                            {{unitlowendvalue.united}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <i style="font-size: x-large;margin-top: 10px;" [ngStyle]="{ color: colorthemes_1 }"
                                class="fa fa-plus-circle" aria-hidden="true" (click)="OnConditionHighLowUnit()"></i>
                        </div>
                    </div>
                </div>
            </fieldset>


            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Measurement</legend>

                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="dataLocator1" for="parameterDetail" cssClass="required">Table
                                (Data-locator)</label>
                            <input class="form-control" autocomplete="off" name="dataLocator1"
                                formControlName="dataLocator1">
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="dataLocator2" for="dataLocator2" cssClass="required">Figure
                                (Data-locator)</label>
                            <input class="form-control" autocomplete="off" name="dataLocator2"
                                formControlName="dataLocator2">
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="dataLocator3" for="dataLocator3" cssClass="required">Page
                                (Data-locator)</label>
                            <input class="form-control" autocomplete="off" name="dataLocator3"
                                formControlName="dataLocator3">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="dataLocator" for="series" cssClass="required">Data-locator</label> 
                            <input type="hidden" class="form-control" name="dataLocator" formControlName="dataLocator">
                        </div>
                    </div> -->
                    <div class="col-xs-6 col-sm-6">
                        <div class="row">
                            <div class="col-xs-5 col-sm-5">
                                <div class="form-group">
                                    <label path="categorySlno" for="categorySlno" cssClass="required">Category</label>
                                    <select class="form-control" name="categorySlno" formControlName="categorySlno">
                                        <option value="" hidden> - Select Category - </option>
                                        <option value=''> - Select Category - </option>
                                        <option *ngFor="let category of categorys" [value]="category.id">
                                            {{category.category}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-6">
                                <div class="form-group">
                                    <label path="functionSlno" for="functionSlno"
                                        cssClass="required">Category(functions)</label>
                                    <!-- <input class="form-control" path="twhrs" name="twhrs" formControlName="twhrs" /> -->
                                    <select class="form-control" name="functionSlno" formControlName="functionSlno">
                                        <option value=''> - Select Category Function - </option>
                                        <option *ngFor="let function of categoryfunctions" [value]="function.id">
                                            {{function.function}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <i style="font-size: x-large;margin-top: 10px;" [ngStyle]="{ color: colorthemes_1 }"
                                class="fa fa-plus-circle" aria-hidden="true" (click)="OnCategoryFuction()"></i>
                        </div>
                    </div>
                    <!-- <div class="col-xs-1 col-sm-1"> -->
                    <!-- <br> -->
                    <!-- <i style="font-size: x-large;margin-top: 10px;" [ngStyle]="{ color: colorthemes_1 }" class="fa fa-plus-circle" aria-hidden="true" (click)="OnCategoryFuction()"></i> -->
                    <!-- </div> -->
                    <div class="col-xs-6 col-sm-6">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <div class="form-group">
                                    <label path="parameter" for="parameter" cssClass="required">Parameter</label>
                                    <input class="form-control" autocomplete="off" name="parameter"
                                        formControlName="parameter">
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-6">
                                <div class="form-group">
                                    <label path="parameterDetail" for="parameterDetail"
                                        cssClass="required">Parameter-detail</label>
                                    <input class="form-control" autocomplete="off" name="parameterDetail"
                                        formControlName="parameterDetail">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xs-3 col-sm-3">
                        <div class="row">
                            <div class="col-xs-10 col-sm-10">
                                <div class="form-group">
                                    <label path="originalPrefixSlno" for="originalPrefixSlno"
                                        cssClass="required">Original-prefix</label>
                                    <!-- <input class="form-control" path="twhrs" name="twhrs" formControlName="twhrs" /> -->
                                    <select class="form-control" name="originalPrefixSlno"
                                        formControlName="originalPrefixSlno">
                                        <option value=''> - Select Original Prefix - </option>
                                        <option *ngFor="let originalPrefix of Originals" [value]="originalPrefix.id">
                                            {{originalPrefix.originalPrefix}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <i style="font-size: x-large;margin-top: 10px;" [ngStyle]="{ color: colorthemes_1 }"
                                class="fa fa-plus-circle" aria-hidden="true" (click)="OnOriginalPrefixFuction()"></i>

                        </div>
                    </div>




                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="singleValue" for="singleValue" cssClass="required">Single-value</label>
                            <input class="form-control" autocomplete="off" name="singleValue"
                                formControlName="singleValue" (click)="singleValClick()">
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="row">
                            <div class="col-xs-10 col-sm-10">
                                <div class="form-group">
                                    <label path="unit" for="unit" cssClass="required">Unit(SingleValue)</label>
                                    <select class="form-control" name="unit" formControlName="unit">
                                        <option value=''> - Select unit(SingleValue) - </option>
                                        <option *ngFor="let unitsinglevalueObject of unitsinglevalues"
                                            [value]="unitsinglevalueObject.id">
                                            {{unitsinglevalueObject.unit}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <i style="font-size: x-large;margin-top: 10px;" [ngStyle]="{ color: colorthemes_1 }"
                                class="fa fa-plus-circle" aria-hidden="true" (click)="onMeasurementSingleUnit()"></i>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <br>
                        <button type="button" style="margin-top:5px;" (click)="setMeasurementEnable()"
                            class="btn btn-primary">
                            Enable</button>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="highEndValue" for="highEndValue" cssClass="required">High-end-value</label>
                            <input class="form-control" autocomplete="off" name="highEndValue"
                                formControlName="highEndValue" (click)="highandlowValueClick()">
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="form-group">
                            <label path="lowEndValue" for="lowEndValue" cssClass="required">Low-end-value</label>
                            <input class="form-control" autocomplete="off" name="lowEndValue"
                                formControlName="lowEndValue" (click)="highandlowValueClick()">
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <div class="row">
                            <div class="col-xs-10 col-sm-10">
                                <div class="form-group">
                                    <label path="units" for="units" cssClass="required">Unit (High & Low)</label>
                                    <select class="form-control" name="units" formControlName="units">
                                        <option value=''> - Select Unit - </option>
                                        <option *ngFor="let unitlowendvalueObject of unitlowendvalues"
                                            [value]="unitlowendvalueObject.id">
                                            {{unitlowendvalueObject.united}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <i style="font-size: x-large;margin-top: 10px;" [ngStyle]="{ color: colorthemes_1 }"
                                class="fa fa-plus-circle" aria-hidden="true" (click)="onMeasurementHighLowUnit()"></i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label path="nonNumeric" for="nonNumeric"
                                cssClass="required">Original-value(Non-numeric-value)</label>
                            <textarea class="form-control" name="nonNumeric" formControlName="nonNumeric"
                                (click)="nonNumericClick()"></textarea>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label path="remark" for="remark" cssClass="required">Remarks</label>
                            <textarea class="form-control" name="remark" formControlName="remark"></textarea>
                        </div>
                    </div>
                </div>

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Biological system</legend>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <label path="typeSlno" for="typeSlno" cssClass="required">Type</label>
                                <!-- <input class="form-control" path="twhrs" name="twhrs" formControlName="twhrs" /> -->
                                <select class="form-control" name="typeSlno" formControlName="typeSlno">
                                    <option value=''> - Select Types - </option>
                                    <option *ngFor="let type of types" [value]="type.id">
                                        {{type.type}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <label path="cell" for="cell" cssClass="required">Cell</label>
                                <input class="form-control" autocomplete="off" name="cell" formControlName="cell">
                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <label path="cellDetail" for="cellDetail" cssClass="required">Cell-detail</label>
                                <input class="form-control" autocomplete="off" name="cellDetail"
                                    formControlName="cellDetail">
                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <label path="organ" for="organ" cssClass="required">Organ</label>
                                <input class="form-control" autocomplete="off" name="organ" formControlName="organ">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <label path="organDetail" for="organDetail" cssClass="required">Organ-detail</label>
                                <input class="form-control" autocomplete="off" name="organDetail"
                                    formControlName="organDetail">
                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <label path="species" for="species" cssClass="required">Species</label>
                                <input class="form-control" autocomplete="off" name="organDetail"
                                    formControlName="species">
                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <label path="speciesDetail" for="speciesDetail"
                                    cssClass="required">Species-detail</label>
                                <input class="form-control" autocomplete="off" name="speciesDetail"
                                    formControlName="speciesDetail">
                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <label path="gender" for="gender" cssClass="required">Gender</label>
                                <select class="form-control" name="gender" formControlName="gender">
                                    <option value=''> - Select -Gender - </option>
                                    <option> Male </option>
                                    <option> Female </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-sm-3">
                            <div class="form-group">
                                <label path="ageGroup" for="ageGroup" cssClass="required">Age-group</label>
                                <input class="form-control" autocomplete="off" name="ageGroup"
                                    formControlName="ageGroup">
                            </div>
                        </div>
                    </div>
                </fieldset>

                <!-- <div class="row">
                <div class="form-group">
                    <div class="col-sm-7"></div>
                    <div class="col-sm-1"><button type="button" class="btn btn-primary" (click)="onRepeat()">Repeat</button></div>
                    <div class="col-sm-1"><button type="button" class="btn btn-primary" (click)="onEdit()">Edit</button></div>
                    <div class="col-sm-1"><button type="submit" class="btn btn-primary">Submit</button></div>
                    <div class="col-sm-1"> <button type="button" class="btn btn-primary" (click)="onReset()">Clear</button></div>
                    <div class="col-sm-1"></div>
                </div>-->


                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Target</legend>
                    <div class="row">
                        <div class="col-xs-4 col-sm-5"></div>
                        <div class="col-xs-4 col-sm-5"></div>
                        <div class="col-sm-1"> <button type="button" class="form-control" class="btn btn-primary"
                                style="width:100px" (click)="onTargetReset()">Clear Target
                            </button></div>
                        <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <br>
                    <div class="row">

                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <label path="targetVersion" for="targetVersion"
                                    cssClass="required">Target-version</label>
                                <input class="form-control" autocomplete="off" name="targetVersion"
                                    formControlName="targetVersion">
                            </div>
                        </div>

                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <label path="collectionId1" for="collectionId1"
                                    cssClass="required">Collection-id</label>
                                <input class="form-control" autocomplete="off" name="collectionId1"
                                    formControlName="collectionId1">
                            </div>
                        </div>

                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <label path="original" for="original" cssClass="required">Original-target-name</label>
                                <input class="form-control" autocomplete="off" name="original"
                                    formControlName="original">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <label path="acronym" for="series" cssClass="required">Acronym</label>
                                <input class="form-control" autocomplete="off" name="acronym" formControlName="acronym">
                            </div>
                        </div>

                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <label path="organism" for="series" cssClass="required">Organism-source</label>
                                <input class="form-control" autocomplete="off" name="organism"
                                    formControlName="organism">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <label path="variant" for="variant" cssClass="required">Variant</label>
                                <input class="form-control" autocomplete="off" name="variant" formControlName="variant">
                            </div>
                        </div>
                    </div>
                </fieldset>




            </fieldset>

            <div class="row">

                <div class="form-group">
                    <div class="col-sm-7"></div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary" (click)="onRepeat()">Repeat</button>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary" (click)="onEdit()">Edit</button>
                    </div>
                    <!-- <div class="col-sm-1">
                        <button type="button" class="btn btn-primary" (click)="onBeforeSubmitData($event,AssayForm)">Save</button>
                    </div> -->
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary" (click)="onReset()">Clear</button>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

            </div>
        </form>
    </div>
</fieldset>


<div class="scrollbar">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Assay</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="assayGridOptions" style="width: 100%; height: 350px;"
            [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>