<div class="manu-breadcrumb">
    <fieldset class="scheduler-border">
        <div class="row">
            <div class="col-xs-2 col-sm-2">
                <div class="form-group">
                    <mat-form-field style="width:100%;">
                        <input type="date" matInput placeholder="START DATE :" name="startDate" [(ngModel)]="startDate" autocomplete="off">
                    </mat-form-field>

                </div>
            </div>
            <div class="col-xs-2 col-sm-2">
                <div class="form-group">
                    <mat-form-field style="width:100%;">
                        <input type="date" matInput placeholder="END DATE :" name="endDate" [(ngModel)]="endDate" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1"><br>
                <p style="text-align: center;font-size: large;font-weight: bold;"> OR</p>
            </div>
            <div class="col-xs-2 col-sm-2">
                <div class="form-group">

                    <mat-form-field style="width:100%;">
                        <input type="text" matInput placeholder="BATCH NUMBER :" name="cbatchNo" [(ngModel)]="cbatchNo" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1">
                <div class="form-group">
                    <!-- <br> -->
                    <button type="button" (click)="onBatchDateSearch(startDate, endDate, cbatchNo)" class="btn btn-primary" style="margin-top:8px;"><i class="fa fa-search "></i> Search</button>
                </div>
            </div>

            <div class="col-xs-2 col-sm-2">
                <div class="form-group">
                    <!-- <br> -->
                    <button type="button" class="btn btn-primary" (click)="onBatchNumber(startDate,endDate,cbatchNo)" style="margin-top:8px;">Export Excel</button>
                </div>
            </div>

            <div class="col-xs-1 col-sm-1"></div>
        </div>

        <legend class="scheduler-border">Excel Export</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [pagination]="true" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>